#form {
  display: flex;
  flex-direction: column;
}

input {
  width: 200px;
}

button {
  width: 200px;
}

table {
  border: 1px black solid;
  border-collapse: collapse;
}

th {
  border: 1px black solid;
  padding: 3px;
}
td {
  border: 1px black solid;
  padding: 3px;
}
