:root {
  --background: #fff;
  /* --background2: ;
--background3: ; */
  --accent: rgb(249 251 228);
  /* --accent2: ;
--accent3: ; */

  --font: #000;
  --font2: rgb(58, 110, 255);
  --font3: #fff;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
  margin: 0;
  grid-template-rows: 4rem 1fr;
  grid-template-columns: auto 1fr;
  font-size: 1.2rem;
  height: 100vh;
  }

.header {
  grid-area: header;
  background-color: rgb(255 235 108);
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.navigation {
  grid-area: nav;
  background-color: rgb(249 251 228);
  width: fit-content;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
}

.navigation img {
  width: 18px;
  margin-right: 0.5rem;
}

.navigation span:hover {
  color: orange;
  cursor: pointer;
}

.navigation span:active {
  color: red;
  cursor: pointer;
}

.projects-nav-label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-style: italic;
}

.views-nav-label {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-style: italic;
}

.project-nav:hover {
  color: orange;
  cursor: pointer;
}

.project-nav:active {
  color: red;
  cursor: pointer;
}

.main {
  grid-area: main;
  margin-left: 2rem;
}

/* #form {
  display: flex;
  flex-direction: column;
} */

input {
  width: 200px;
}

button {
  width: 200px;
}

.add-button {
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
  background-color: rgb(255 235 108);
  margin: 20px 5px;
  font-weight: bold;
  font-size: 2rem;
  box-shadow: 3px 3px 3px #6c6767;
  transition: background-color 300ms ease-in-out;
  cursor: pointer;
}

.add-button:hover {
  background-color: orange;
}


/* Task table */

.tablelabel {
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline;
}

.container {
  width: 80%;
  min-width: fit-content;
}

.task-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(249 251 228);
}

.left-right {
  display: flex;
  align-items: center;
}

.task-check {
  width: 1.1rem;
  height: 1.1rem;
  padding: 5px;
}

.task-check:hover {
  background-color: orange;
  cursor: pointer;
}
.task-date {
  padding: 5px 5px 10px 5px;
}

.task-title {
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}

.task-title:hover {
  background-color: orange;

}

.task-date {
  padding: 5px;
}

.task-done {
  text-decoration: line-through;
}

.task-priority-div {
  padding: 3px 8px;
} 
.task-priority {
  padding: 5px;
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.task-priority-high {
  color: red;
  border: 2px solid red;
  border-radius: 10px;
}

.task-priority-medium {
  color: orange;
  border: 2px solid orange;
  border-radius: 10px;

}

.task-priority-low {
  color: green;
  border: 2px solid green;
  border-radius: 10px;
}

.task-edit img {
  height: 1.2rem;
  padding: 5px;
  transition: background-color 300ms ease-in-out;
}
.task-edit img:hover {
  cursor: pointer;
  background-color: orange;
}

.task-delete img {
  height: 1.2rem;
  padding: 5px;
  transition: background-color 300ms ease-in-out;
}

.task-delete img:hover {
  cursor: pointer;
  background-color: orange;
}

.details-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5px;
  padding: 5px;
  background-color: rgb(255 255 249);
  row-gap: 0.8rem;
}

.details-row-hidden {
  display: none;
}

/* Modal window */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 30%;
  top: 10%;
  padding: 20px 30px;
  background-color: rgb(249 251 228);;
  box-shadow: 5px 5px 5px #6c6767;
}

.modal-top {
  grid-column: 1 / 3;
  display: grid;
  justify-content: space-between;
}
#form {  
  display:grid;
  grid-column: 1 / 3;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

#form div {
  display: grid;
}

.modal label {
  margin-top: 3px;
  margin-bottom: 3px;
}

#description, #notes {
  width: 200px;
  height: 100px;
}

.modal-label {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-weight: bold;
}

.close-btn {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  height: 20px;
  width: 20px;
  background-color: rgb(255 235 108);
  padding: 0px;
  border: none;
  font-weight: bold;
  transition: background-color 300ms ease-in-out;
  box-shadow: 3px 3px 3px #6c6767;
}

.submit-button {
  margin: 0 auto;
  margin-top: 8px;
  grid-column: 1 / 3;
  background-color: rgb(255 235 108);
  border: none;
  transition: background-color 300ms ease-in-out;
  box-shadow: 3px 3px 3px #6c6767;
  
}

.close-btn:hover, .submit-button:hover {
  background-color: orange;
}

