:root {
  --background: #fff;
  /* --background2: ;
--background3: ; */
  --accent: rgb(94, 137, 255);
  /* --accent2: ;
--accent3: ; */

  --font: #000;
  --font2: rgb(58, 110, 255);
  --font3: #fff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
}

.header {
  grid-area: header;
}

.navigation {
  grid-area: nav;
}

.main {
  grid-area: main;
}

#form {
  display: flex;
  flex-direction: column;
}

input {
  width: 200px;
}

button {
  width: 200px;
}

.add-button {
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
  background-color: var(--accent);
  color: var(--font3);
}

table {
  border: 1px var(--accent) solid;
  border-collapse: collapse;
  color: var(--font2);
}

th {
  border: 1px var(--accent) solid;
  padding: 3px;
}
td {
  border: 1px var(--accent) solid;
  padding: 3px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 30%;
  top: 20%;
  border: 1px black solid;
  padding: 50px;
}

.close-btn {
  height: 20px;
  width: 20px;
  background-color: red;
}
